@model OperandosViewModel
@{
    ViewData["Title"] = "Potencia";
}

<div class="mt-lg-5 ml-lg-5">

    <p><b>
    La potenciación es la operación matemática mediante la cual multiplicamos un número por sí mismo las veces que nos indique el exponente.
    Partes del número con exponente
    Por ejemplo, la ecuación a³ donde a es un número cualquiera, equivale a la ecuación: a x a x a .
</b></p>

    <form asp-controller="Prealgebra" asp-action="Potencia" method="post">

        <div class="form-row align-items-center">

            <div class="col-lg-5" style="margin-right:-7.5rem; margin-left:9rem">
                <div class="form-group">
                    <div class="col-md-5">
                        <label class="control-label">Base</label>
                        <input asp-for="Num1" type="number" step="0.0001" class="form-control" />
                        <span asp-validation-for="Num1" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="col-lg-5" style="margin-left:4rem">
                <div class="form-group">
                    <div class="col-md-5">
                        <label class="control-label">Exponente</label>
                        <input asp-for="Num2" type="number" step="0.0001" class="form-control" />
                        <span asp-validation-for="Num2" class="text-danger"></span>
                    </div>
                </div>
            </div>

        </div>


        <div class="form-group" style="margin:5% 41%">
            <div class="col-md-5">
                <button type="submit" class="btn btn-danger">Calcular</button>
            </div>
        </div>

    </form>
</div>

@if (Model.Resultado != null)
{
    <div class="text-center">
        <h1>El resultado es @((double)Model.Resultado)</h1>
    </div>
}