@*
    Básica
        Suma, resta, multiplicacion, division, resto
    Preálgebra
        exponente, raiz cuadrada, raíz cúbica, factorial, 
    Álgebra
        logaritmo, ln, exponencial e^x
    Trigonometría
        seno, coseno, tangente, funciones hiperbólicas
*@
<div class="btn-group mr-4">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" 
            aria-haspopup="true" aria-expanded="false">
        Básicas
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" asp-controller="Basica" asp-action="Suma">Suma</a>
        <a class="dropdown-item" asp-controller="Basica" asp-action="Resta">Resta</a>
        <a class="dropdown-item" asp-controller="Basica" asp-action="Multiplicacion">Multiplicación</a>
        <a class="dropdown-item" asp-controller="Basica" asp-action="Division">División</a>
    </div>
</div>

<div class="btn-group mr-4">
    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
        Preálgebra
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" asp-controller="Prealgebra" asp-action="Potencia">Potencia</a>
        <a class="dropdown-item" href="#">Raíz Cuadrada</a>
        <a class="dropdown-item" href="#">Raíz Cúbica</a>
        <a class="dropdown-item" href="#">Factorial</a>
    </div>
</div>

<div class="btn-group mr-4">
    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
        Álgebra
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Logaritmo</a>
        <a class="dropdown-item" href="#">Logaritmo Neperiano</a>
        <a class="dropdown-item" href="#">Exponencial</a>
    </div>
</div>

<div class="btn-group mr-4">
    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
        Trigonometría
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Seno</a>
        <a class="dropdown-item" href="#">Coseno</a>
        <a class="dropdown-item" href="#">Tangente</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Seno Hiperbólico</a>
        <a class="dropdown-item" href="#">Coseno Hiperbólico</a>
        <a class="dropdown-item" href="#">Tangente Hiperbólico</a>
    </div>
</div>