@model OperandosViewModel
@{
    ViewData["Title"] = "División";
}


<div class="mt-lg-5 ml-lg-5">

    <p><b>En matemática, la división es una operación parcialmente definida en el conjunto de los números naturales y los números enteros; en cambio, en el caso de los números racionales, reales y complejos es siempre posible efectuar la división, exigiendo que el divisor sea distinto de cero, sea cual fuera la naturaleza de los números por dividir.</b></p>

    <form asp-controller="Basica" asp-action="Division" method="post">

        <div class="form-row align-items-center">

            <div class="col-lg-5" style="margin-right:-7.5rem; margin-left:9rem">
                <div class="form-group">
                    <div class="col-md-5">
                        <label class="control-label">Divisor</label>
                        <input asp-for="Num1" type="number" step="0.0001" class="form-control" />
                        <span asp-validation-for="Num1" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="col"><h1>÷</h1></div>

            <div class="col-lg-5" style="margin-left:4rem">
                <div class="form-group">
                    <div class="col-md-5">
                        <label class="control-label">Dividendo</label>
                        <input asp-for="Num2" type="number" step="0.0001" class="form-control" />
                        <span asp-validation-for="Num2" class="text-danger"></span>
                    </div>
                </div>
            </div>

        </div>


        <div class="form-group" style="margin:5% 41%">
            <div class="col-md-5">
                <button type="submit" class="btn btn-danger">Calcular</button>
            </div>
        </div>

    </form>
</div>

@if (Model.Resultado != null)
{
    <div class="text-center">
        <h1>El resultado es @((double)Model.Resultado)</h1>
    </div>
}